.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.open-tag-browser-button-container {
  margin-top: 5em;
}

.menu-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
